{% if site.category_tag_cloud %}
<section>
<h1>分类</h1>
<span class='categories_tag'> <a href='/blog/categories/ios' style='font-size: 160.0%'>ios(33)</a>  <a href='/blog/categories/network' style='font-size: 105.45454545454545%'>network(3)</a>  <a href='/blog/categories/reactivecocoa' style='font-size: 105.45454545454545%'>reactivecocoa(3)</a>  <a href='/blog/categories/swift' style='font-size: 112.72727272727272%'>swift(7)</a>  <a href='/blog/categories/system' style='font-size: 101.81818181818181%'>system(1)</a>  <a href='/blog/categories/网络' style='font-size: 114.54545454545455%'>网络(8)</a> </span>
</section>
{% endif %}
