{% if site.category_tag_cloud %}
<section>
<h1>分类</h1>
<span class='categories_tag'> <a href='/blog/categories/ios' style='font-size: 160.0%'>ios(22)</a>  <a href='/blog/categories/network' style='font-size: 108.18181818181819%'>network(3)</a>  <a href='/blog/categories/reactivecocoa' style='font-size: 102.72727272727273%'>reactivecocoa(1)</a>  <a href='/blog/categories/swift' style='font-size: 119.0909090909091%'>swift(7)</a>  <a href='/blog/categories/网络' style='font-size: 121.81818181818181%'>网络(8)</a> </span>
</section>
{% endif %}
