{% if site.category_sidebar %}
<section>
<h1>分类</h1>
<ul>
  <li><a href='/blog/categories/cocoa'>cocoa (6)</a></li>
  <li><a href='/blog/categories/foundation'>foundation (1)</a></li>
  <li><a href='/blog/categories/ios'>ios (73)</a></li>
  <li><a href='/blog/categories/network'>network (3)</a></li>
  <li><a href='/blog/categories/reactivecocoa'>reactivecocoa (1)</a></li>
  <li><a href='/blog/categories/swift'>swift (7)</a></li>
  <li><a href='/blog/categories/techset'>techset (6)</a></li>
  <li><a href='/blog/categories/translate'>translate (9)</a></li>
  <li><a href='/blog/categories/网络'>网络 (8)</a></li>
</ul>
</section>
{% endif %}
