{% if site.category_sidebar %}
<section>
<h1>分类</h1>
<ul>
  <li><a href='/blog/categories/cocoa'>cocoa (8)</a></li>
  <li><a href='/blog/categories/foundation'>foundation (1)</a></li>
  <li><a href='/blog/categories/ios'>ios (78)</a></li>
  <li><a href='/blog/categories/network'>network (3)</a></li>
  <li><a href='/blog/categories/reactivecocoa'>reactivecocoa (1)</a></li>
  <li><a href='/blog/categories/sourcecode'>sourcecode (4)</a></li>
  <li><a href='/blog/categories/swift'>swift (8)</a></li>
  <li><a href='/blog/categories/techset'>techset (6)</a></li>
  <li><a href='/blog/categories/tool'>tool (2)</a></li>
  <li><a href='/blog/categories/translate'>translate (11)</a></li>
  <li><a href='/blog/categories/网络'>网络 (8)</a></li>
</ul>
</section>
{% endif %}
