{% if site.category_tag_cloud %}
<section>
<h1>分类</h1>
<span class='categories_tag'> <a href='/blog/categories/ios' style='font-size: 160.0%'>ios(36)</a>  <a href='/blog/categories/network' style='font-size: 105.0%'>network(3)</a>  <a href='/blog/categories/reactivecocoa' style='font-size: 105.0%'>reactivecocoa(3)</a>  <a href='/blog/categories/swift' style='font-size: 111.66666666666667%'>swift(7)</a>  <a href='/blog/categories/system' style='font-size: 101.66666666666667%'>system(1)</a>  <a href='/blog/categories/网络' style='font-size: 113.33333333333333%'>网络(8)</a> </span>
</section>
{% endif %}
